body {
  font-family: Plus Jakarta Sans, sans-serif;
}

:target::before {
  content: "";
  display: block;
  height: 64px; /* fixed header height*/
  margin: -64px 0 0; /* negative fixed header height */
}

.glassycontainer {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(235, 235, 235, .51);
  margin-bottom: 150px;
  padding: 30px 10%;
  position: relative;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
}

.headingstyle {
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 600;
}

.cardicon {
  transform-style: preserve-3d;
  height: 60%;
  transform: translate3d(0, 0, 1px);
}

.blob {
  width: 300px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.blob.teal {
  width: 30%;
  top: auto;
  bottom: 30%;
  left: auto;
  right: -10%;
}

.blob.green {
  width: 40%;
  top: 25%;
  left: auto;
  right: 0%;
}

.blob.darkblue {
  width: 400px;
  top: 50%;
  bottom: auto;
  left: -20%;
}

.paragraph {
  font-size: 20px;
}

.experiencesection {
  position: relative;
}

.buttonsection {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  perspective: 500px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}


.buttontextstyle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

.contactbuttonstyle {
  box-shadow: 0 0 15px 0 var(--glow);
  background-color: #fa4d56;
  border-radius: 20px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.timelinecontainer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  perspective: 500px;
  grid-template: "Area Line ."
                 ". Line Area-2"
                 "Area-3 Line ."
                 / .75fr auto .75fr;
  grid-auto-columns: 1fr;
  padding: 20px;
  display: grid;
  justify-self: start;
}

.timelineelecontainer {
  background-color: #ebebeb;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}

.linecontainer {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: grid;
  position: relative;
}

.timelineimage {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 100px;
  width: 50px;
  position: static;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.line {
  z-index: -5;
  border: 1px solid #333;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.timelineheading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.timelinedesc {
  margin-top: 10px;
  margin-bottom: 0;
}

.timelineposition {
  font-size: 14px;
  font-style: italic;
}

.timelinetime {
  text-align: right;
  font-size: 10px;
}

.aboutintrosection {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  perspective: 2000px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
}

.headlinestyle {
  text-align: center;
  background-color: rgba(245, 245, 245, .5);
  border-radius: 10px;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 40px;
  line-height: 50px;
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.biostyle {
  text-align: center;
  width: 60%;
  font-size: 18px;
  font-weight: 500;
}

.experiencelink {
  color: #fa4d56;
}

.experiencelink:hover {
  color: #992f35;
}

.experiencelink:visited {
  color: #562f99;
}

.nextcontainer {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(245, 245, 245, .54);
  border-radius: 10px;
  padding: 5px 20px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.borderstyle {
  background-image: linear-gradient(#fa4d56, #f1c21b);
  border-radius: 18px;
  padding: 3px;
}

#TimelineContainerID {
  grid-area: Area;
}

#w-node-e7d2f4d2-ead0-b555-88d6-e434b4c1e1df-05a70ca8 {
  grid-area: Area-2;
}

#w-node-_04d400eb-7b80-72a9-3ac6-c515734ee7b3-05a70ca8 {
  grid-area: Area-3;
}

#w-node-_48e6cfc0-4425-be2e-5097-134a6713db94-05a70ca8 {
  grid-area: Line;
  justify-self: center;
}

#w-node-_618f4ae0-ff54-37fd-5c59-b24bb5c4af7b-05a70ca8 {
  justify-self: center;
}

#w-node-f77f4d59-8bde-aa21-e897-36314198ca29-f45f591d {
  grid-area: Title;
  align-self: auto;
  justify-self: auto;
}

#w-node-_566386f7-42c7-a4aa-a553-0cff9818d3e8-f45f591d {
  grid-area: Image;
}

#w-node-dc508af4-1a5e-1da1-3210-fa86be95e1e6-f45f591d {
  align-self: center;
}

#w-node-db606730-908c-9792-fd27-76dfc7cfdc74-f45f591d, #w-node-a2d4ca75-bb4b-836d-186c-9f8f3977aba4-3977aba2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-a2d4ca75-bb4b-836d-186c-9f8f3977aba5-3977aba2 {
  align-self: start;
  justify-self: center;
}

.nopadding {
  padding: 0;
}